body {
    margin: 0;
    padding: 0;
    /* background: url('Public/Images/ABack.jpeg'); */
}
.userlogin{
    background-image: url('../../public/Images/UBack.jpeg'); 
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.formContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color:transparent;
    border: 2px solid cadetblue;
}

.formContainer h1 {
    color: white;
    text-align: center;
    padding: 0 0 20px 0;
    margin-top: 20px;
}

.forminput form {
    padding:0 60px;
    box-sizing: border-box;
}

form .password {
    position: relative;
    border-bottom: 2px solid black;
    margin: 40px 0;
}
.password label{
    color: black;
    font-size: 20px;
}

.password input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
}
.forminput button{
    margin-left: 120px;
    margin-bottom: 30px;
    padding: 10px 50px ;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    
}
.forminput button:hover{
  border: none;
  color: black;
  background-color: white;
  
}