body{
    margin: 0;
    padding: 0;
}
.userlist{
    background: url('../../public/Images/usBack.avif');
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: center;
}
.userlist h1{
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    margin-top: 0;
}
.userl{
    display: inline-block;
    padding: 20px;
    margin: 20px;
    border: 2px solid cadetblue;
    background-color: white;
    border-radius: 50px;
    /* box-shadow:  px  5px  5px black,-5px - 5px 5px black; */
   
}
.userl button{
    margin: 0px 95px;
    padding: 6px 20px;
    border: 2px solid orangered;
    color: orangered;
    background-color:white;
}